[submodule "STS1_PCB_LIBRARIES"]
	path = STS1_PCB_LIBRARIES
	url = https://github.com/SpaceTeam/STS1_PCB_LIBRARIES.git
[submodule "STS1_PCB_TEMPLATE"]
	path = STS1_PCB_TEMPLATE
	url = https://github.com/SpaceTeam/STS1_PCB_TEMPLATE.git
[submodule "STS1_PCB_VRM"]
	path = STS1_PCB_VRM
	url = https://github.com/SpaceTeam/STS1_PCB_VRM.git
