[submodule "STS1_PCB_TEMPLATE"]
	path = STS1_PCB_TEMPLATE
	url = https://github.com/SpaceTeam/STS1_PCB_TEMPLATE.git
[submodule "STS1_PCB_VRM"]
	path = STS1_PCB_VRM
	url = https://github.com/SpaceTeam/STS1_PCB_VRM.git
[submodule "STS1_PCB_LIBRARIES"]
	path = STS1_PCB_LIBRARIES
	url = git@github.com:SpaceTeam/STS1_PCB_LIBRARIES.git
[submodule "lsf-kicad-lib"]
	path = lsf-kicad-lib
	url = https://gitlab.com/librespacefoundation/lsf-kicad-lib.git
